# Python artifacts
*.pyc
__pycache__/

# Virtual environments
.venv/
venv/

# Git
.git/
.gitignore

# App artifacts
*.sqlite3
*.log
*.tmp
*.swp

# Media and static files
media/
staticfiles/

# Docs and config
*.md
Jenkinsfile

# OS files
.DS_Store
Thumbs.db

# Node dependencies
node_modules/

# IDE/editor settings
.vscode/
.idea/
