*.pyc
__pycache__/
.git/
.venv/
venv/
media/
staticfiles/
*.sqlite3

# Ignore Git files
.git
.gitignore

# Ignore Jenkins pipeline config (Jenkinsfile doesn’t affect Docker build)
Jenkinsfile

# Ignore README or markdown files
*.md

# Ignore build/test artifacts
*.log
*.tmp
*.swp

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore dependency folders (if applicable)
node_modules
__pycache__

# Ignore IDE config
.vscode
.idea
